/.vs
/AcmePayAssessment/.vs/AcmePayAssessment/v17
/AcmePayAssessment/AcmePayAssessment/obj
/AcmePayAssessment/AcmePayAssessment.BusinessLayer/obj
/AcmePayAssessment/AcmePayAssessment/bin/Debug/netcoreapp3.1
/AcmePayAssessment/AcmePayAssessment.DataAccessLayer/bin/Debug/netcoreapp3.1
/AcmePayAssessment/AcmePayAssessment.DataAccessLayer/obj
/AcmePayAssessment/AcmePayAssessment.Entity/bin/Debug/netcoreapp3.1
/AcmePayAssessment/AcmePayAssessment.Entity/obj
/AcmePayAssessment/AcmePayAssessment.BusinessLayer/bin/Debug/netcoreapp3.1
